body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

form{
	padding-left: 15px;
	padding-right: 15px;
}

code{
	display: block;
    height: 20vh;
    max-width: 100%;
	vertical-align: middle;
	word-break:break-all;
}
